/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
#newuser{
  width: 50%;
  border: 1px solid #ccc;
  margin: 40px 0 300px 25%;
  float: left;
  padding: 0 0 100px 0;
}

#newuser h1{
  width: 100%;
  padding: 20px;
  box-sizing: border-box;
  float: left;
  background: #efefef;
  color: #999;
  margin: 0 0 30px 0;
}

#newuser form{
  width: 60%;
  float: left;
  margin: 0 0 0 20%;
}

.field input{
  width: 100%;
  height: 34px;
  line-height: 34px;
  padding: 0 0 0 7px;
  box-sizing: border-box;
  float: left;
  border: 1px solid #999;
  margin: 0 0 10px 0;
}

.actions input{
  background: #006699;
  color: #fff;
  border: 0;
  padding: 5px 20px;
  
  float: left;
}

.actions input:hover{
  background: #2b467c;
}

#newuser p{
  width: 280px;
  float: left;
  margin: 5px 0 0 20px;
  font-size: 16px;
}

#newuser p a{
  float: left;
  display: block;
  margin: 0 0 0 15px;
}

#frog{
  margin: -30px 0 0 50px;
  font-size: 16px;
  float: left;
}

#newuser h3{
  width: 100%;
  float: left;
  margin: 20px 0 30px 0;
}

#newuser #happ{
  float: left;
  margin: 0 0 5px 130px;
  font-size: 12px;
}
*{margin: 0; padding: 0;}

 @font-face {
    font-family: 'bello';
    src: url('/assets/Bello.ttf');
}
body, a{
  font-family: helvetica;
  letter-spacing: 1px;
}

body{
  font-size: 13px;
}


 #nav{
  width: 100%;
  height: 40px;
  background: #000;
  position: fixed;
  float: left;
 }

 #logo{
  margin: 0px auto;
  height: 40px;
  line-height: 40px;
  text-align: center;
 }

 #logo a{
  text-decoration: none;
  font-family: bello;
  color: #fff;
  font-weight: normal;
 }

 

 #searchf{
  width: 12.5%;
  height: 24px;
  border: 1px solid #fff;
  background: #000;
  color: #fff;
  margin: 7px 0 0 4%;
  padding-left: 8px;
  font-size: 11px;
  float: left;
  position: absolute;
 }

 #search_btn{
  border: 0;
  background: #000;
  padding: 4px 5px;
  margin:  8px 0 0 14.7%;
  float: left;
  color: #fff;
  position: absolute;
 }

 #cart{
  width: 300px;
  right: 0;
  top: 0;
  height: 40px;
  line-height: 40px;
  position: absolute;
 }

 #cart .cart{
  color: #fff;
  text-decoration: none;
  font-size: 10px;
 }

 #cart .fa-shopping-cart{
  font-size: 12px;
  margin: 0 5px 0 5px;
 }

 #sign_in, #sign_up{
  color: #fff;
  text-decoration: none;
  font-size: 9px;
 }

 #nav span{
  color: #fff;
  position: absolute;
  margin-left: 19%;
  line-height: 40px;
  font-size: 11px;
  letter-spacing: 2px;
 }
#footer{
  width: 100%;
  height: 280px;
  background: #3c3831;
  color: #fff;
  float:left;
}

#we{
  width: 100%;
  text-align: center;
  height: 30px;
  line-height: 30px;
  background: #3c3831;
  color: #999;
  display: block;
  margin: 0 0 1px 0;
  float: left;
}

#paypal{

  margin: 0 auto;
  display: block;
}

#footer_nav{
  width: 95%;
  margin: 20px 0 20px 5%;
  float: left;
}

#footer_nav li{
  list-style: none;
  float: left;
}

#footer_nav li a{
  text-decoration: none;
  float: left;
  color: #fff;
  border-radius: 5px;
  padding: 3px 5px;
  margin: 0 20px 0 0; 
  letter-spacing: 0;  
  font-size: 12px;
}